*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homepage-nav{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #131921;
    color: #fff;
}

.homepage-nav>h4{
    width: 76px;
}
.homepage-nav>p{
    width: 80px;
    font-size: 12px;
}
.homepage-search-container{
    flex-grow: 1;
    height: 30px;
    background-color: red;
    display: flex;

    input{
        flex-grow: 1;
    }
}

.homepage-category-bar{
    background-color: #222F3E;
    padding: 10px 16px;
    height: 40px;
    display: flex;
    align-items: center;

    button{
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 16px;
        background-color: transparent;
        padding: 4px 8px;
        color: white;
        border: none;
    }
}

.homepage-category-bar>.category-items{
      display: flex;
      align-items: center;
      gap: 16px;
      color: white;
      padding: 0 12px;
}

.homepage-body>.carousal-image{
    width: 100%;
    height: 100%;
}

.homepage-body > .products-cards-container {
    top: -320px;
    position: relative;
    margin: 0 16px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
  }
  
  .products-info-card {
    background-color: #fff;
    flex-basis: 340px;
    flex-grow: 1;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .products-info-card h3 {
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 600;
    color: #333;
  }
  
  .products-info-card .products-item-cards-container {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  
  .products-info-card .products-item-card {
    width: calc(50% - 8px);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .products-info-card .products-item-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .products-info-card .products-item-card:hover img {
    transform: scale(1.05);
  }
  
  .products-info-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  